//This file contains the style preferences for the site.

/*
centerbox
{
    background-color:#FFFFFF;
    position: absolute;
    font-size: 15;
    height: 50%;
    width: 50%;
}
*/

#buttons
{
	background-color: #E9E9E9;
}

#footer
{
    background-color: white;
    height: 100px; 
    width:100%; 
    border-radius: 25px;
}

#sayers_backdrop
{

    padding: 10px; 
    border:1px solid white; 
    border-width: 0 1px 1px 1px 1px;
    margin:0 auto;
    background-color:white; 
    height: 550px;
    width:1050px;
    border-radius: 25px;
    
}

#sayers_left
{
    position:absolute;
    margin-left:-4%;
    height: 7%;
    opacity: 0.5;
}

#sayers_right
{
    height: 7%;
    position:absolute;
    opacity: 0.5;
}

#sayers_table
{
    width:50%; 
    margin-left:6%; 
    margin-right:5%;
}